<div class="inicio">
    <div class="col-12">
        <br>
        <h4 class="mt-0 float-start">Cambiar contraseña</h4>
       
        <hr class="mb-3 w-100">
 

        <form #modalForm="ngForm" class="formulario-modal" enctype="multipart/form-data" (submit)="submit(modalForm)" novalidate="">
            <br>
            <h3 class="text-center">Actualizar Contraseña</h3>
            <div class="row justify-content-center">   
                <div class="tab-content row justify-content-center col-12" id="nav-tabContent">

                    <div class="col-lg-8 col-md-9 col-sm-10 col-12 tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
                        <br>
                        <div class="form-group row mb-3">
                            <label for="inputNOM" class="col-lg-3 col-sm-4 col-form-label">Contraseña Actual</label>
                            <div class="col-lg-9 col-sm-8">
                                <input type="password" class="form-control" placeholder="" autocomplete="off" [disabled]="!btn" [(ngModel)]="usuario.pass" name="pass" #pass required>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="inputNOM" class="col-lg-3 col-sm-4 col-form-label">Nueva Contraseña</label>
                            <div class="col-lg-9 col-sm-8">
                                <input type="password" class="form-control" placeholder="" autocomplete="off" [disabled]="!btn" [(ngModel)]="usuario.nombre" name="nombre" #nombre="ngModel">                                           
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="inputNOM" class="col-lg-3 col-sm-4 col-form-label">Confirmar Contraseña</label>
                            <div class="col-lg-9 col-sm-8">
                                <input type="password" class="form-control" placeholder="" autocomplete="off" [disabled]="!btn" [(ngModel)]="usuario.apellido" name="apellido" #apellido="ngModel">                                     
                            </div>
                        </div>
                     
                        
                        <div class="row justify-content-center mt-4">
                            <div class="col-xl-4 col-lg-5 col-sm-6 col-12 mb-2">
                                <button *ngIf="btn" type="submit" class="btn w-100 btn-success btn_modals" [disabled]="!modalForm.form.valid"><i class="far fa-lg fa-save"></i> Guardar</button>
                                <button *ngIf="!btn" type="button" class="btn w-100 btn-success btn_modals" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Cargando</button>
                            </div>
                            <div class="col-xl-4 col-lg-5 col-sm-6 col-12 mb-2">
                                <button routerLink="/" type="button" class="btn w-100 btn-danger btn_modals" (click)="resetForm(modalForm)"><i class="fas fa-lg fa-ban"></i> Cancelar</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
                              
        </form>


    </div>
</div>