<div class="inicio">
    <div class="col-12">
        <br>
        <h4 class="mt-0 float-start">Validación de Solicitudes</h4>
        
        <hr class="mb-3 w-100">

        <!--
        <button style="width:155px;" type="button" class="btn btn-success m-1" data-bs-toggle="modal" data-bs-target="#modal-add" (click)="resetForm(modalForm)"><i class="fas fa-plus-circle"></i> Registrar</button>
        <button style="width:225px;" type="button" class="btn btn-success m-1" data-bs-toggle="modal" data-bs-target="#modal-add-solicitante" (click)="resetForm(modalForm)"><i class="fas fa-plus-circle"></i> Nuevo Solicitante</button>
        -->

        <form class="row mt-2" #searchForm="ngForm" (submit)="filtrarSolicitudes(search.value, search_type.value)">
            <div class="col-md-4 col-sm-4 mb-2">
                <div class="form-group row mb-0">
                    <label for="inputNOM" class="col-12 col-form-label">Filtrar Solicitud</label>
                    <div class="col-12">
                        <select class="form-select" aria-label="Default select example" #search_type (change)="filtrarSolicitudes(search.value, search_type.value);">
                            <option value="estado" selected>Estado</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-5 mb-2">
                <div class="form-group row mb-0">
                    <label for="inputNOM" class="col-12 col-form-label">Buscar</label>
                    <div class="col-12">
                        <select class="form-select form-select w-100 pe-5" aria-label="Default select example" placeholder="Buscar estado" aria-label="Search" #search (input)="filtrarSolicitudes(search.value, search_type.value);">
                            <option value="" selected disabled>Selecciona la respuesta</option>
                            <option *ngFor="let data of estado_solicitudes; let i = index" value="{{data.id}}">{{data.descripcion}}</option>
                        </select>
                        <!--<input type="text" class="form-control" placeholder="Buscar Usuario" aria-label="Search" #search (keyup)="filtrarSolicitudes(search.value, search_type.value);">-->
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 mb-2">
                <label for="inputNOM" class="col-12 col-form-label invisible">.</label>
                <button type="submit" class="btn w-100 btn-primary"><i class="fas fa-search"></i> Buscar</button>
                <!--<button type="submit" class="btn w-100 btn-success" data-bs-toggle="modal" data-bs-target="#modal-add">Buscar <i class="fas fa-user-plus"></i></button>-->
            </div>
        </form>
        <div class="row mt-2">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-sm  text-start table-hover">
                        <thead class="bg-h-table">
                            <tr class="align-middle">
                                <th class="border-0 pt-2 pb-2 pl-2 pr-2 text-center" scope="col">N°</th>
                                <th class="border-0" scope="col">N° Solicitud</th>
                                <th class="border-0" scope="col">Nombre del Solicitante</th>
                                <th class="border-0" scope="col">Nombre del Paciente</th>
                                <th class="border-0" scope="col">Situacion</th>
                                <th class="border-0" scope="col">Fecha de Situacion</th>
                                <th class="border-0" scope="col">Solicitud</th>
                                <th class="border-0" scope="col">Estado</th>
                                <th class="border-0" scope="col">Pago</th>
                                <th scope="col" class="border-0 text-center">Operaciones</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
    
                            <ng-container *ngIf="ready">

                                <tr class="align-middle" *ngFor="let data of solicitudes; let i = index" >
                                    <td class="text-center">{{i+1}}</td>
                                    <td>{{data.expediente_sgd}}</td>
                                    <td>{{data.sol_nombre}}</td>
                                    <td>{{data.pac_nombre}}</td>
                                    <td>{{data.pac_situacion}}</td>
                                    <td>{{data.pac_fecha_situacion}}</td>
                                    <td>{{data.tipo_solicitud}}</td>
                                    <td>{{data.estado_solicitud}}</td>
                                    <td class="text-center"></td>
                                    <td class="text-center">
                                        <button style="width:120px;" type="button" class="btn btn-sm btn-warning m-1" data-bs-toggle="modal" data-bs-target="#modal-add" (click)='editSolicitudes(data)'><i class="fas fa-edit"></i> Validar</button>
                                    </td>
                                </tr>
                            </ng-container>
            
                            <ng-container *ngIf="!ready">
                                <tr>
                                    <td colspan="7" class="pt-3 pb-3">
                                        <div id="load_table" class="w-100">
                                            <div class="text-center">
                                                <div class="spinner-border text-primary" role="status">
                                                <span class="sr-only">Loading...</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
    
                            <ng-container *ngIf="ready && solicitudes.length==100">
                                <tr>
                                    <td>-</td>
                                    <td>No hay datos</td>
                                    <td>No hay datos</td>
                                    <td>No hay datos</td>
                                    <td>No hay datos</td>
                                </tr>
                            </ng-container>
                            
                        </tbody>
                    </table>
                </div>

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                      </li>
                      
                      <li *ngFor="let page of pages" class="page-item" [ngClass]="{'active': pageActive == page.pagina}" #elemPagination><a class="page-link" (click)="getSolicitudes(page.pagina)" style="cursor:pointer;">{{page.pagina}}</a></li>
    
                      <li class="page-item disabled">
                        <a class="page-link" href="#">Siguiente</a>
                      </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>




<!-- MODAL ADD -->
<!-- MODAL ADD -->
<div class="modal fade bd-example-modal-sm" style="z-index: 5000;" id="modal-add" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">

            <div class="container-fluid modal-body" style="padding:15px;">
                <div class="row justify-content-center"> 
                    <div class="col-md-12">

                                <button type="button" class="btn btn-danger" style="position:absolute;right:13px;padding:6px 15px;" (click)="closeForm(modalForm)"><i class="fas fa-lg fa-times"></i></button>
                                
                                <form #modalForm="ngForm" class="formulario-modal" enctype="multipart/form-data" (submit)="putSolicitudes(modalForm)" novalidate="">
                                    <h4 *ngIf="!solicitud.id" style="margin-bottom:18px;width:80%;">VALIDAR PAGO</h4>
                                    <h4 *ngIf="solicitud.id" style="margin-bottom:18px;width:80%;">VALIDAR PAGO</h4>

                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active disabled" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">Datos del Solicitante</a>
                                        </div>
                                    </nav>
                                    <div class="row justify-content-center">   
                                        <div class="tab-content row justify-content-center col-12" id="nav-tabContent">
                                            <div class="col-md-12 col-12 tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group row mb-3">
                                                            <label for="inputNOM" class="col-12 col-form-label">DNI</label>
                                                            <div class="col-12">
                                                                <input type="text" class="form-control form-control-sm" placeholder=""  autocomplete="off" [disabled]="!btn" [(ngModel)]="solicitud.sol_dni" name="sol_dni" #sol_dni readonly (input)="filtrarSolicitantes(sol_dni.value);">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row mb-3">
                                                            <label for="inputNOM" class="col-12 col-form-label">Apellidos y Nombres</label>
                                                            <div class="col-12">
                                                                <input type="text" class="form-control form-control-sm" placeholder=""  autocomplete="off" [disabled]="!btn" [(ngModel)]="solicitud.sol_nombre" name="sol_nombre" #sol_nombre readonly >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group row mb-3">
                                                            <label for="inputPRIV" class="col-12 col-form-label">Parentesco</label>
                                                            <div class="col-12">
                                                                <select class="form-select form-select-sm w-100 pe-5" aria-label="Default select example" placeholder="Selecciona la respuesta" [(ngModel)]="solicitud.sol_parentesco" name="sol_parentesco" #sol_parentesco disabled>
                                                                    <option value="" selected disabled>Selecciona la respuesta</option>
                                                                    <option *ngFor="let data of parentescos; let i = index" value="{{data.id}}">{{data.descripcion}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row mb-3">
                                                            <label for="inputMOD" class="col-12 col-form-label">Solicitud</label>
                                                            <div class="col-12">
                                                                <select class="form-select form-select-sm w-100 pe-5" aria-label="Default select example" placeholder="Selecciona la respuesta" [(ngModel)]="solicitud.sol_solicitud" name="sol_solicitud" #sol_solicitud disabled>
                                                                    <option value="" selected disabled>Selecciona la respuesta</option>
                                                                    <option *ngFor="let data of tipo_solicitudes; let i = index" value="{{data.id}}">{{data.descripcion}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <nav class="mt-2">
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active disabled" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">Datos del Paciente</a>
                                        </div>
                                    </nav>
                                    <div class="row justify-content-center">   
                                        <div class="tab-content row justify-content-center col-12" id="nav-tabContent">
                                            <div class="col-md-12 col-12 tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group row mb-3">
                                                            <label for="inputCLIENT" class="col-12 col-form-label">Apellidos y Nombres</label>
                                                            <div class="col-12">
                                                                <input list="usuarios_list" type="text" class="form-control form-control-sm" id="inputUSER" placeholder="Nombre del Paciente" autocomplete="off" [disabled]="!btn" [(ngModel)]="solicitud.pac_nombre" name="pac_nombre" #pac_nombre (input)="filtrarPacientes(pac_nombre.value);" readonly>         
                                                                <input type="hidden" name="inputUSER-hidden" id="inputUSER-hidden" [(ngModel)]="solicitud.pac_id" name="pac_id" #pac_id="ngModel" required>
                                                                <datalist id="usuarios_list">
                                                                    <option *ngFor="let data of pacientes; let i = index" data-id="{{data.id}}" value="{{data.nombres}}" [ngValue]="data.id"></option>
                                                                </datalist>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group row mb-3">
                                                            <label for="inputPRIV" class="col-12 col-form-label">Situación</label>
                                                            <div class="col-12">
                                                                <input type="text" class="form-control form-control-sm" placeholder="" [disabled]="!btn" [(ngModel)]="solicitud.pac_situacion" name="pac_situacion" #pac_situacion readonly>
                                                                <!--
                                                                <select class="form-select form-select-sm w-100 pe-5" aria-label="Default select example" placeholder="Selecciona la respuesta" [(ngModel)]="solicitud.pac_situacion" name="pac_situacion" #pac_situacion readonly>
                                                                    <option value="" selected disabled>Selecciona la respuesta</option>
                                                                    <option value="Fallecido">Fallecido</option>
                                                                    <option value="Hospitalizado">Hospitalizado</option>
                                                                    <option value="Referido">Referido</option>
                                                                    <option value="Alta Medica">Alta Medica</option>
                                                                </select>
                                                                -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group row mb-3">
                                                            <label for="inputMOD" class="col-12 col-form-label">Fecha de Situación</label>
                                                            <div class="col-12">
                                                                <input type="date" class="form-control form-control-sm" placeholder="" [disabled]="!btn" [(ngModel)]="solicitud.pac_fecha_situacion" name="pac_fecha_situacion" #pac_fecha_situacion readonly>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    
                                    <nav class="mt-2">
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active disabled" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">Pago</a>
                                        </div>
                                    </nav>
                                    <div class="row justify-content-center">   
                                        <div class="tab-content row justify-content-center col-12" id="nav-tabContent">
                                            <div class="col-md-12 col-12 tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group row mb-3">
                                                            <label for="inputNOM" class="col-12 col-form-label">Estado de Pago</label>
                                                            <div class="col-12">
                                                                <select class="form-select form-select-sm w-100 pe-5" aria-label="Default select example" placeholder="Selecciona la respuesta" [(ngModel)]="solicitud.pag_id_tipo_pago" name="pag_id_tipo_pago" #pag_id_tipo_pago required>
                                                                    <option value="" selected disabled>Selecciona la respuesta</option>
                                                                    <option value="1">PAGADO</option>
                                                                    <option value="2">SIN PAGO</option>
                                                                    <option value="3">PAGO OBSERVADO</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row mb-3">
                                                            <label for="inputNOM" class="col-12 col-form-label">N° Pago</label>
                                                            <div class="col-12">
                                                                <input type="email" class="form-control form-control-sm" placeholder="" [disabled]="!btn" [(ngModel)]="solicitud.pag_nro" name="pag_nro" #pag_nro required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group row mb-3">
                                                            <label for="inputPRIV" class="col-12 col-form-label">Fecha de Pago</label>
                                                            <div class="col-12">
                                                                <input type="date" class="form-control form-control-sm" placeholder="Correo" [disabled]="!btn" [(ngModel)]="solicitud.pag_fecha" name="pag_fecha" #pag_fecha required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row mb-3">
                                                            <label for="inputMOD" class="col-12 col-form-label">Motivo de Observación</label>
                                                            <div class="col-12">
                                                                <textarea class="form-control form-control-sm" placeholder="" row="4" [disabled]="!btn" [(ngModel)]="solicitud.observacion" name="observacion" #observacion required>
                                                                </textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                                 
                                    
                                    <div class="w-100" style="height:12px;"></div>
                                    <div class="msg-ajax-result"></div>


                                    <div class="row justify-content-center">
                                        <div class="col-sm-4 col-12 mb-2">
                                            <button *ngIf="btn" type="submit" class="btn w-100 btn-success btn_modals" [disabled]="!modalForm.form.valid"><i class="far fa-lg fa-save"></i> Guardar</button>
                                            <button *ngIf="!btn" type="button" class="btn w-100 btn-success btn_modals" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Cargando</button>
                                        </div>
                                        <div class="col-sm-4 col-12 mb-2 modal-btn-cont d-none">
                                           
                                        </div>
                                        <div class="col-sm-4 col-12 mb-2">
                                            <button type="button" class="btn w-100 btn-warning btn_modals" (click)="closeForm(modalForm)"><i class="fas fa-lg fa-ban"></i> Cancelar</button>
                                        </div>
                                    </div>


                                </form>
                                
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>





<!-- Modal Confirm-->
<div class="modal fade" id="modal-confirm" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Confirmar accion</h4>
            <button type="button" class="btn btn-danger" style="position:absolute;right:13px;padding:6px 15px;" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-lg fa-times"></i></button>
            </div>
            <div class="modal-body">
                ¿Esta seguro que desea eliminar el elemento?
            </div>
            <div class="modal-footer p-1">
                <div class="row w-100">
                    <div class="col-sm-6">
                        <button *ngIf="btn" type="button" class="btn w-100 btn-danger m-1" (click)='eliminar({})'>Si</button>
                        <button *ngIf="!btn" type="button" class="btn w-100 btn-danger m-1" (click)='eliminar({})'  disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Cargando</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn w-100 btn-secondary m-1" (click)="closeConfirm()" [disabled]="!btn">No</button>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>