<div class="inicio">
    <div class="col-12">
        <br>
        <h4 class="mt-0 float-start">Atención de Solicitudes</h4>


        <hr class="mb-3 w-100">

        <!--
        <button style="width:155px;" type="button" class="btn btn-success m-1" data-bs-toggle="modal" data-bs-target="#modal-add" (click)="resetForm(modalForm)"><i class="fas fa-plus-circle"></i> Registrar</button>
        <button style="width:225px;" type="button" class="btn btn-success m-1" data-bs-toggle="modal" data-bs-target="#modal-add-solicitante" (click)="resetForm(modalForm)"><i class="fas fa-plus-circle"></i> Nuevo Solicitante</button>
        -->

        <form class="row mt-2" #searchForm="ngForm" (submit)="filtrarSolicitudes(search.value, search_type.value)">
            <div class="col-md-4 col-sm-4 mb-2">
                <div class="form-group row mb-0">
                    <label for="inputNOM" class="col-12 col-form-label">Filtrar Solicitud</label>
                    <div class="col-12">
                        <select class="form-select" aria-label="Default select example" #search_type (change)="filtrarSolicitudes(search.value, search_type.value);">
                            <option value="estado" selected>Estado</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-5 mb-2">
                <div class="form-group row mb-0">
                    <label for="inputNOM" class="col-12 col-form-label">Buscar</label>
                    <div class="col-12">
                        <select class="form-select form-select w-100 pe-5" aria-label="Default select example" placeholder="Buscar estado" aria-label="Search" #search (input)="filtrarSolicitudes(search.value, search_type.value);">
                            <option value="" selected disabled>Selecciona la respuesta</option>
                            <option *ngFor="let data of estado_solicitudes; let i = index" value="{{data.id}}">{{data.descripcion}}</option>
                        </select>
                        <!--<input type="text" class="form-control" placeholder="Buscar Usuario" aria-label="Search" #search (keyup)="filtrarSolicitudes(search.value, search_type.value);">-->
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 mb-2">
                <label for="inputNOM" class="col-12 col-form-label invisible">.</label>
                <button type="submit" class="btn w-100 btn-primary"><i class="fas fa-search"></i> Buscar</button>
                <!--<button type="submit" class="btn w-100 btn-success" data-bs-toggle="modal" data-bs-target="#modal-add">Buscar <i class="fas fa-user-plus"></i></button>-->
            </div>
        </form>
        <div class="row mt-2">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-sm  text-start table-hover">
                        <thead class="bg-h-table">
                            <tr class="align-middle">
                                <th class="border-0 pt-2 pb-2 pl-2 pr-2 text-center" scope="col">N°</th>
                                <th class="border-0" scope="col">N° Solicitud</th>
                                <th class="border-0" scope="col">Nombre del Solicitante</th>
                                <th class="border-0" scope="col">Nombre del Paciente</th>
                                <th class="border-0" scope="col">Situacion</th>
                                <th class="border-0" scope="col">Fecha de Situacion</th>
                                <th class="border-0" scope="col">Solicitud</th>
                                <th class="border-0" scope="col">Estado</th>
                                <th class="border-0" scope="col">Pago</th>
                                <th scope="col" class="border-0 text-center">Operaciones</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
    
                            <ng-container *ngIf="ready">

                                <tr class="align-middle" *ngFor="let data of solicitudes; let i = index" >
                                    <td class="text-center">{{i+1}}</td>
                                    <td>{{data.expediente_sgd}}</td>
                                    <td>{{data.sol_nombre}}</td>
                                    <td>{{data.pac_nombre}}</td>
                                    <td>{{data.pac_situacion}}</td>
                                    <td>{{data.pac_fecha_situacion}}</td>
                                    <td>{{data.tipo_solicitud}}</td>
                                    <td>{{data.estado_solicitud}}</td>
                                    <td class="text-center"></td>
                                    <td class="text-center">
                                        <button style="width:120px;" type="button" class="btn btn-sm btn-warning m-1" data-bs-toggle="modal" data-bs-target="#modal-add" (click)='editSolicitudes(data)' [disabled]="data.id_pago"><i class="fas fa-edit"></i> Atender</button>
                                    </td>
                                </tr>
                            </ng-container>
            
                            <ng-container *ngIf="!ready">
                                <tr>
                                    <td colspan="7" class="pt-3 pb-3">
                                        <div id="load_table" class="w-100">
                                            <div class="text-center">
                                                <div class="spinner-border text-primary" role="status">
                                                <span class="sr-only">Loading...</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
    
                            <ng-container *ngIf="ready && solicitudes.length==100">
                                <tr>
                                    <td>-</td>
                                    <td>No hay datos</td>
                                    <td>No hay datos</td>
                                    <td>No hay datos</td>
                                    <td>No hay datos</td>
                                </tr>
                            </ng-container>
                            
                        </tbody>
                    </table>
                </div>

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                      </li>
                      
                      <li *ngFor="let page of pages" class="page-item" [ngClass]="{'active': pageActive == page.pagina}" #elemPagination><a class="page-link" (click)="getSolicitudes(page.pagina)" style="cursor:pointer;">{{page.pagina}}</a></li>
    
                      <li class="page-item disabled">
                        <a class="page-link" href="#">Siguiente</a>
                      </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>




<!-- MODAL ADD -->
<!-- MODAL ADD -->
<div class="modal fade bd-example-modal-sm" style="z-index: 5000;" id="modal-add" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="container-fluid modal-body" style="padding:15px;">
                <div class="row justify-content-center"> 
                    <div class="col-md-12">

                                <button type="button" class="btn btn-danger" style="position:absolute;right:13px;padding:6px 15px;" (click)="closeForm(modalForm)"><i class="fas fa-lg fa-times"></i></button>
                                
                                <form #modalForm="ngForm" class="formulario-modal" enctype="multipart/form-data" (submit)="putSolicitudes(modalForm)" novalidate="">
                                    <h4 *ngIf="!solicitud.id" style="margin-bottom:18px;width:80%;">ATENDER SOLICITUD</h4>
                                    <h4 *ngIf="solicitud.id" style="margin-bottom:18px;width:80%;">ATENDER SOLICITUD</h4>

                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active disabled" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">Datos de la Solicitud</a>
                                        </div>
                                    </nav>
                                    <div class="row justify-content-center mt-3">   
                                        <div class="tab-content row justify-content-center col-12" id="nav-tabContent">
                                            <div class="col-md-12 col-12 tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-group row mb-0">
                                                            <label for="inputNOM" class="col-lg-3 col-md-4 col-sm-5 col-12 col-form-label">Estado de la Solicitud</label>
                                                            <div class="col-lg-9 col-md-8 col-sm-7 col-12">
                                                                <select class="form-select form-select-sm w-100 pe-5" aria-label="Default select example" placeholder="Estado" autocomplete="off" [disabled]="!btn" [(ngModel)]="solicitud.id_estado_solicitud" name="id_estado_solicitud" #id_estado_solicitud>
                                                                    <option value="" selected disabled>Selecciona la respuesta</option>
                                                                    <option *ngFor="let data of estado_solicitudes; let i = index" value="{{data.id}}">{{data.descripcion}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 mt-3">
                                                        <div class="border p-2 h-100">    
                                                            <h5>Validar</h5>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="flexCheckDefault1" [checked]="solicitud.encontro_fisico" (change)="encontro_fisico.checked ? solicitud.encontro_fisico=1 : solicitud.encontro_fisico=0" name="encontro_fisico" #encontro_fisico>
                                                                <label class="form-check-label" for="flexCheckDefault1">
                                                                  Se encontro fisicamente la HC
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="flexCheckChecked2" [checked]="solicitud.orden_cronologico" (change)="orden_cronologico.checked ? solicitud.orden_cronologico=1 : solicitud.orden_cronologico=0" name="orden_cronologico" #orden_cronologico>
                                                                <label class="form-check-label" for="flexCheckChecked2">
                                                                  Se ordeno cronologicamente la HC
                                                                </label>
                                                            </div>
                                                            <div class="text-center mb-1">
                                                                <button type="button" class="btn btn-sm btn-secondary">Imprimir Hoja de Afiliación</button>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="flexCheckChecked3" [checked]="solicitud.rotulo" (change)="rotulo.checked ? solicitud.rotulo=1 : solicitud.rotulo=0" name="rotulo" #rotulo>
                                                                <label class="form-check-label" for="flexCheckChecked3">
                                                                  Se rotulo a HC
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="flexCheckChecked4" [checked]="solicitud.cruce_informacion" (change)="cruce_informacion.checked ? solicitud.cruce_informacion=1 : solicitud.cruce_informacion=0" name="cruce_informacion" #cruce_informacion>
                                                                <label class="form-check-label" for="flexCheckChecked4">
                                                                  Se cruzo la infomación de la HC
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="flexCheckChecked5" [checked]="solicitud.control_calidad" (change)="control_calidad.checked ? solicitud.control_calidad=1 : solicitud.control_calidad=0" name="control_calidad" #control_calidad>
                                                                <label class="form-check-label" for="flexCheckChecked5">
                                                                  Se realizó el control de calidad
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 mt-3">
                                                        <div class="border p-2 h-100">
                                                            <h5>Firmas</h5>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="fr_1" [checked]="solicitud.f_emergencia" (change)="f_emergencia.checked ? solicitud.f_emergencia = 1 : solicitud.f_emergencia = 0" name="f_emergencia" #f_emergencia>
                                                                <label class="form-check-label" for="fr_1">
                                                                  Emergencia
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="fr_2" [checked]="solicitud.f_hospitalizacion" (change)="f_hospitalizacion.checked ? solicitud.f_hospitalizacion = 1 : solicitud.f_hospitalizacion = 0" name="f_hospitalizacion" #f_hospitalizacion>
                                                                <label class="form-check-label" for="fr_2">
                                                                  Hospitalización
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="fr_3" [checked]="solicitud.f_uci" (change)="f_uci.checked ? solicitud.f_uci = 1 : solicitud.f_uci = 0" name="f_uci" #f_uci>
                                                                <label class="form-check-label" for="fr_3">
                                                                  UCI
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="fr_4" [checked]="solicitud.f_anestesio" (change)="f_anestesio.checked ? solicitud.f_anestesio = 1 : solicitud.f_anestesio = 0" name="f_anestesio" #f_anestesio>
                                                                <label class="form-check-label" for="fr_4">
                                                                  Aneosteología
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="fr_5" [checked]="solicitud.f_enfermeria" (change)="f_enfermeria.checked ? solicitud.f_enfermeria = 1 : solicitud.f_enfermeria = 0" name="f_enfermeria" #f_enfermeria>
                                                                <label class="form-check-label" for="fr_5">
                                                                  Enfermería
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="fr_6" [checked]="solicitud.f_salud_mental" (change)="f_salud_mental.checked ? solicitud.f_salud_mental = 1 : solicitud.f_salud_mental = 0" name="f_salud_mental" #f_salud_mental>
                                                                <label class="form-check-label" for="fr_6">
                                                                  Salud Mental
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="fr_7" [checked]="solicitud.f_infectologia" (change)="f_infectologia.checked ? solicitud.f_infectologia = 1 : solicitud.f_infectologia = 0" name="f_infectologia" #f_infectologia>
                                                                <label class="form-check-label" for="fr_7">
                                                                  Infectología
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="fr_8" [checked]="solicitud.f_laboratorio" (change)="f_laboratorio.checked ? solicitud.f_laboratorio = 1 : solicitud.f_laboratorio = 0" name="f_laboratorio" #f_laboratorio>
                                                                <label class="form-check-label" for="fr_8">
                                                                  Laboratorio
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="fr_9" [checked]="solicitud.f_rx" (change)="f_rx.checked ? solicitud.f_rx = 1 : solicitud.f_rx = 0" name="f_rx" #f_rx>
                                                                <label class="form-check-label" for="fr_9">
                                                                  Rayos X
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="fr_10" [checked]="solicitud.f_farmacia" (change)="f_farmacia.checked ? solicitud.f_farmacia = 1 : solicitud.f_farmacia = 0" name="f_farmacia" #f_farmacia>
                                                                <label class="form-check-label" for="fr_10">
                                                                  Farmacia
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6 mt-3">
                                                        <div class="border p-2 h-100">    
                                                            <h5>Solicitud HC</h5>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" disabled [checked]="solicitud.id_estado_solicitud=='3' || solicitud.id_estado_solicitud=='4'">
                                                                <label class="form-check-label" for="flexRadioDefault1">
                                                                  Digital
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" disabled [checked]="solicitud.id_estado_solicitud=='1' || solicitud.id_estado_solicitud=='2'">
                                                                <label class="form-check-label" for="flexRadioDefault2">
                                                                  Físico
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mt-3">
                                                        <div class="border p-2 h-100">    
                                                            <h5>Fedatario</h5>
                                                            <div class="form-group row mb-3">
                                                                <div class="col-8">
                                                                    <input type="text" class="form-control form-control-sm" placeholder=""  autocomplete="off" [disabled]="!btn" [(ngModel)]="solicitud.pac_nombre" name="pac_nombre" #pac_nombre readonly required>
                                                                </div>
                                                                <div class="col-4">
                                                                    <button type="button" class="btn w-100 btn-success btn-sm btn_modals">Agregar</button>
                                                                </div>
                                                            </div>
                                                            <div class="position-relative">
                                                                <p class="text-center mb-1">Calzada Suarez, Amelia</p>
                                                                <p class="text-center mb-1">Calzada Suarez, Amelia</p>
                                                            </div>  
                                                        </div>
                                                    </div>

                                                    <div class="col-12 mt-3">
                                                        <div class="border p-2 h-100">    
                                                            <h5>Pago</h5>
                                                            <div class="row">
                                                                <div class="col-8">
                                                                    <div class="row justify-content-center">
                                                                        <div class="col-6">
                                                                            <div class="form-group row mb-2">
                                                                                <label for="inputNOM" class="col-12 col-form-label">Cantidad de Folios Físicos</label>
                                                                                <div class="col-12">
                                                                                    <input type="text" class="form-control form-control-sm" placeholder=""  autocomplete="off" [disabled]="!btn" [(ngModel)]="solicitud.pag_folios" name="pag_folios" #pag_folios required>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <div class="form-group row mb-2">
                                                                                <label for="inputNOM" class="col-12 col-form-label">Otros Gastos S/.</label>
                                                                                <div class="col-12">
                                                                                    <input type="text" class="form-control form-control-sm" placeholder=""  autocomplete="off" [disabled]="!btn" [(ngModel)]="solicitud.pag_otros_gastos" name="pag_otros_gastos" #pag_otros_gastos required>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-6 mb-1">
                                                                            <button type="button" class="btn w-100 btn-success btn-sm btn_modals">Calcular Pago</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-4">
                                                                    <h4 class="text-center">TOTAL</h4>
                                                                    <input type="text" class="form-control form-control-sm" placeholder=""  autocomplete="off" [disabled]="!btn" [(ngModel)]="solicitud.pag_total" name="pag_total" #pag_total required>
                                                                    <!--<h3 class="text-center mt-3" [(ngModel)]="solicitud.pag_total" name="pag_total" #pag_total>S/. 10.00</h3>-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-12 mt-3">
                                                        <div class="border p-2 h-100">    
                                                            <h5>Observación</h5>
                                                            <textarea class="form-control form-control-sm" placeholder="" rows="5" [disabled]="!btn" [(ngModel)]="solicitud.observacion" name="observacion" #observacion>
                                                            </textarea>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                             

                                    <!--
                                    <nav class="mt-2">
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active disabled" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">Pago</a>
                                        </div>
                                    </nav>
                                    <div class="row justify-content-center">   
                                        <div class="tab-content row justify-content-center col-12" id="nav-tabContent">
                                            <div class="col-md-12 col-12 tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group row mb-3">
                                                            <label for="inputNOM" class="col-12 col-form-label">Filtrar Pago</label>
                                                            <div class="col-12">
                                                                <select class="form-select form-select-sm w-100 pe-5" aria-label="Default select example" placeholder="Selecciona la respuesta" [(ngModel)]="usuario.privilegios" name="privilegios" #privilegios>
                                                                    <option value="" selected disabled>Selecciona la respuesta</option>
                                                                    <option value="0">Usuario</option>
                                                                    <option value="1">Administrador</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row mb-3">
                                                            <label for="inputNOM" class="col-12 col-form-label">N° Pago</label>
                                                            <div class="col-12">
                                                                <input type="email" class="form-control form-control-sm" placeholder="Correo" [disabled]="!btn" [(ngModel)]="usuario.email" name="correo" #correo readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group row mb-3">
                                                            <label for="inputPRIV" class="col-12 col-form-label">Fecha de Pago</label>
                                                            <div class="col-12">
                                                                <input type="email" class="form-control form-control-sm" placeholder="Correo" [disabled]="!btn" [(ngModel)]="usuario.email" name="correo" #correo readonly>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row mb-3">
                                                            <label for="inputMOD" class="col-12 col-form-label">Solicitud</label>
                                                            <div class="col-12">
                                                                <textarea class="form-control form-control-sm" placeholder="" row="4" [disabled]="!btn" [(ngModel)]="usuario.email" name="correo" #correo readonly>
                                                                </textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    -->                 
                                    
                                    <div class="w-100" style="height:12px;"></div>
                                    <div class="msg-ajax-result"></div>


                                    <div class="row justify-content-center">
                                        <div class="col-sm-4 col-12 mb-2">
                                            <button *ngIf="btn" type="submit" class="btn w-100 btn-success btn_modals" [disabled]="!modalForm.form.valid"><i class="far fa-lg fa-save"></i> Guardar</button>
                                            <button *ngIf="!btn" type="button" class="btn w-100 btn-success btn_modals" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Cargando</button>
                                        </div>
                                        <div class="col-sm-4 col-12 mb-2 modal-btn-cont d-none">
                                           
                                        </div>
                                        <div class="col-sm-4 col-12 mb-2">
                                            <button type="button" class="btn w-100 btn-warning btn_modals" (click)="closeForm(modalForm)"><i class="fas fa-lg fa-ban"></i> Cancelar</button>
                                        </div>
                                    </div>


                                </form>
                                
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>





<!-- Modal Confirm-->
<div class="modal fade" id="modal-confirm" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Confirmar accion</h4>
            <button type="button" class="btn btn-danger" style="position:absolute;right:13px;padding:6px 15px;" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-lg fa-times"></i></button>
            </div>
            <div class="modal-body">
                ¿Esta seguro que desea eliminar el elemento?
            </div>
            <div class="modal-footer p-1">
                <div class="row w-100">
                    <div class="col-sm-6">
                        <button *ngIf="btn" type="button" class="btn w-100 btn-danger m-1" (click)='eliminar({})'>Si</button>
                        <button *ngIf="!btn" type="button" class="btn w-100 btn-danger m-1" (click)='eliminar({})'  disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Cargando</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn w-100 btn-secondary m-1" (click)="closeConfirm()" [disabled]="!btn">No</button>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>