<div class="inicio">
    <div class="col-12">
        <img src="assets/logo-heav.png" alt="" height="80">
        <h3 class="fw-bold mt-0 mb-4">Mantenimiento de Usuarios</h3>
        <hr class="mb-2">

        <button style="width:155px;" type="button" class="btn btn-success m-1" data-bs-toggle="modal" data-bs-target="#modal-add" (click)="resetForm(modalForm)"><i class="fas fa-plus-circle"></i> Agregar</button>

        <form class="row mt-2" #searchForm="ngForm" (submit)="filtrar(search.value, search_type.value)">
            <div class="col-md-3 col-sm-3 mb-2">
                <select class="form-select" aria-label="Default select example" #search_type (change)="filtrar(search.value, search_type.value);">
                    <option value="email" selected>Correo</option>
                    <option value="nombre">Nombre</option>
                </select>
            </div>
            <div class="col-md-6 col-sm-6 mb-2">
                <input type="text" class="form-control" placeholder="Buscar Usuario" aria-label="Search" #search (keyup)="filtrar(search.value, search_type.value);">
            </div>
            <div class="col-md-3 col-sm-3 mb-2">
                <button type="submit" class="btn w-100 btn-success"><i class="fas fa-search"></i> Buscar</button>
                <!--<button type="submit" class="btn w-100 btn-success" data-bs-toggle="modal" data-bs-target="#modal-add">Buscar <i class="fas fa-user-plus"></i></button>-->
            </div>
        </form>
        <div class="row mt-2">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-sm  text-start table-hover">
                        <thead class="table-dark">
                            <tr class="align-middle">
                                <th class="pt-2 pb-2 pl-2 pr-2 text-center" scope="col">#</th>
                                <th scope="col">EMAIL</th>
                                <th scope="col">PRIVILEGIOS</th>
                                <th scope="col">NOMBRE</th>
                                <th scope="col">APELLIDO</th>
                                <th scope="col" class="text-center">OPERACIONES</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
    
                            <ng-container *ngIf="ready">
                                <tr class="align-middle" *ngFor="let data of usuarios; let i = index" >
                                    <td class="text-center">{{i+1}}</td>
                                    <td>{{data.email}}</td>
                                    <td class="text-center">
                                        <span class="badge rounded-pill bg-dark" *ngIf="data.privilegios==1">Administrador</span>
                                        <span class="badge rounded-pill bg-secondary" *ngIf="data.privilegios==0">Usuario</span>
                                    </td>
                                    <td>{{data.nombre}}</td>
                                    <td>{{data.apellido}}</td>
                                    
                                    <td class="text-center">
                                        <button style="width:140px;" type="button" class="btn btn-sm btn-primary m-1" data-bs-toggle="modal" data-bs-target="#modal-add" (click)='edit(data)'><i class="fas fa-edit"></i> Modificar</button>
                                        <button style="width:140px;" type="button" class="btn btn-sm btn-danger m-1" data-bs-toggle="modal" data-bs-target="#modal-confirm" (click)='eliminar(data)'><i class="fas fa-trash"></i> Eliminar</button>
                                    </td>
                                </tr>
                            </ng-container>
            
                            <ng-container *ngIf="!ready">
                                <tr>
                                    <td colspan="7" class="pt-3 pb-3">
                                        <div id="load_table" class="w-100">
                                            <div class="text-center">
                                                <div class="spinner-border text-primary" role="status">
                                                <span class="sr-only">Loading...</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
    
                            <ng-container *ngIf="ready && usuarios.length==0">
                                <tr>
                                    <td>-</td>
                                    <td>No hay datos</td>
                                    <td>No hay datos</td>
                                    <td>No hay datos</td>
                                    <td>No hay datos</td>
                                </tr>
                            </ng-container>
                            
                        </tbody>
                    </table>
                </div>

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                      </li>
                      
                      <li *ngFor="let page of pages" class="page-item" [ngClass]="{'active': pageActive == page.pagina}" #elemPagination><a class="page-link" (click)="getData(page.pagina)" style="cursor:pointer;">{{page.pagina}}</a></li>
    
                      <li class="page-item disabled">
                        <a class="page-link" href="#">Siguiente</a>
                      </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>




<!-- MODAL ADD -->
<!-- MODAL ADD -->
<div class="modal fade bd-example-modal-sm" style="z-index: 5000;" id="modal-add" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">

            <div class="container-fluid modal-body" style="padding:15px;">
                <div class="row justify-content-center"> 
                    <div class="col-md-12">

                                <button type="button" class="btn btn-danger" style="position:absolute;right:13px;padding:6px 15px;" (click)="closeForm(modalForm)"><i class="fas fa-lg fa-times"></i></button>
                                
                                <form #modalForm="ngForm" class="formulario-modal" enctype="multipart/form-data" (submit)="submit(modalForm)" novalidate="">
                                    <h4 *ngIf="!usuario.id" style="margin-bottom:18px;width:80%;">REGISTRAR USUARIO</h4>
                                    <h4 *ngIf="usuario.id" style="margin-bottom:18px;width:80%;">MODIFICAR USUARIO</h4>

                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active disabled" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">Datos</a>
                                        </div>
                                    </nav>
                                    <div class="row justify-content-center">   
                                        <div class="tab-content row justify-content-center col-12" id="nav-tabContent">

                                            <div class="col-md-9 col-12 tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
                                                <br>
                                                <div class="form-group row mb-3">
                                                    <label for="inputPRIV" class="col-sm-3 col-form-label">Privilegios*</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-select w-100 pe-5" aria-label="Default select example" placeholder="Selecciona la respuesta" [(ngModel)]="usuario.privilegios" name="privilegios" #privilegios required>
                                                            <option value="" selected disabled>Selecciona la respuesta</option>
                                                            <option value="0">Usuario</option>
                                                            <option value="1">Administrador</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label for="inputNOM" class="col-sm-3 col-form-label">Correo*</label>
                                                    <div class="col-sm-9">
                                                        <input type="email" class="form-control" placeholder="Correo" autocomplete="off" [disabled]="!btn" [(ngModel)]="usuario.email" name="correo" #correo>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label for="inputNOM" class="col-sm-3 col-form-label">Password*</label>
                                                    <div class="col-sm-9">
                                                        <input type="password" class="form-control" placeholder="Su contraseña" autocomplete="off" [disabled]="!btn" [(ngModel)]="usuario.pass" name="pass" #pass required>
                                                    </div>
                                                </div>
    
                                                <div class="form-group row mb-3">
                                                    <label for="inputNOM" class="col-sm-3 col-form-label">Nombres</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" placeholder="Nombre de la persona" autocomplete="off" [disabled]="!btn" [(ngModel)]="usuario.nombre" name="nombre" #nombre="ngModel">                                           
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label for="inputNOM" class="col-sm-3 col-form-label">Apellidos</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" placeholder="Apellidos de la persona" autocomplete="off" [disabled]="!btn" [(ngModel)]="usuario.apellido" name="apellido" #apellido="ngModel">                                     
                                                    </div>
                                                </div>
                                             
                                                
                                            </div>

                                        </div>
                                    </div>
                                                      

                                    <div class="w-100" style="height:12px;"></div>
                                    <div class="msg-ajax-result"></div>


                                    <div class="row justify-content-center">
                                        <div class="col-sm-4 col-12 mb-2">
                                            <button *ngIf="btn" type="submit" class="btn w-100 btn-success btn_modals" [disabled]="!modalForm.form.valid"><i class="far fa-lg fa-save"></i> Guardar</button>
                                            <button *ngIf="!btn" type="button" class="btn w-100 btn-success btn_modals" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Cargando</button>
                                        </div>
                                        <div class="col-sm-4 col-12 mb-2 modal-btn-cont d-none">
                                           
                                        </div>
                                        <div class="col-sm-4 col-12 mb-2">
                                            <button type="button" class="btn w-100 btn-warning btn_modals" (click)="closeForm(modalForm)"><i class="fas fa-lg fa-ban"></i> Cancelar</button>
                                        </div>
                                    </div>


                                </form>
                                
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Modal Confirm-->
<div class="modal fade" id="modal-confirm" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Confirmar accion</h4>
            <button type="button" class="btn btn-danger" style="position:absolute;right:13px;padding:6px 15px;" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-lg fa-times"></i></button>
            </div>
            <div class="modal-body">
                ¿Esta seguro que desea eliminar el elemento?
            </div>
            <div class="modal-footer p-1">
                <div class="row w-100">
                    <div class="col-sm-6">
                        <button *ngIf="btn" type="button" class="btn w-100 btn-danger m-1" (click)='eliminar({})'>Si</button>
                        <button *ngIf="!btn" type="button" class="btn w-100 btn-danger m-1" (click)='eliminar({})'  disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Cargando</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn w-100 btn-secondary m-1" (click)="closeConfirm()" [disabled]="!btn">No</button>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>